.binary-header-container {
    display: flex;
    flex-direction: column; /* empilha os elementos */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    width: 100%;
}

.title {
  position: relative;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  color: white;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 300;
  cursor: default; /* opcional */
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* espaço abaixo do texto */
  height: 3px;
  width: 0;
  background-color: deepskyblue;
  transition: width 0.3s ease-in-out;
}

.title:hover::after {
  width: 100%;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 70px; /* altura fixa */
    background: #f6f8fa;
    border-radius: 3px;
    padding: 2em;
}

ul.navbar {
    gap: 2em;
    display: flex;
    align-items: center;
}

ul.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.2s;
}

ul.navbar a:hover {
    color: #0070f3;
}

ul.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: all 0.2s ease;
    padding: 8px 12px;         /* espaço interno para formar o retângulo */
    border-radius: 6px;        /* bordas arredondadas */
}

ul.navbar a:hover {
    color: #000;
    background-color: #d1d5db; /* cinza claro (tailwind: gray-300) */
}
